body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 32px;
}

.nav-link {
    border-top: 3px solid transparent;
    border-radius: 0;
    color: #212529;
    padding: 1.15rem 1rem;
}

.nav-link:hover {
    border-top-color: rgb(98, 211, 98);
    color: inherit;
}

img {
    max-width: 100%;
}

section {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

li {
    list-style: none;
    line-height: 2;
}

.container {
    max-width: 1248px;
    padding-right: 24px;
    padding-left: 24px;
    width: 100%;
}

.info img {
    width: 40px;
}

a.btn {
    border: 0;
    border-bottom: 1px solid transparent;
    color: rgb(98, 211, 98);
    font-weight: bold;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    display: inline-flex;
}

a.btn:hover {
    color: rgb(98, 211, 98);
    border-bottom-color: rgb(98, 211, 98);
}

a.btn i {
    margin-left: 5px;
    margin-top: 5px;
    transform: scale(0.8);
}

.container-small {
    max-width: 800px;
}

.dark-blue {
    background-color: #031033;
}

.transactions img {
    width: 20px;
}

.green-section {
    block-size: 300px;
}

form p {
    font-size: 10px;
}

.bottom-links a,
span {
    font-size: 10px;
}

.social-icons a {
    color: #818799;
    background-color: transparent;
    border: 1px solid #818799;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
}

.social-icons a:hover {
    border: 1px solid white;
    color: white;
}

footer a {
    color: white;
}