body {
    font-family: aktiv-grotesk, sans-serif;
}

h1 {
    font-size: 60px;
}

header a {
    padding-top: 10px;
}

header a:hover {
    border-top: solid rgb(98, 211, 98);
    border-radius: 0;
    padding: 0;
    margin: 0;
}

header i {
    padding-top: 10px;
    border: 0;
    margin: 0;
    color: black;
}

header i:hover {
    color: black;
    border-top: 3px solid rgb(98, 211, 98);
    border-radius: 0;
    padding-bottom: 0;
}

img {
    max-width: 100%;
}

p {
    font-family: "Open Sans", sans-serif;
}

section {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

li {
    list-style: none;
    line-height: 2;
}

.info img {
    width: 40px;
}

a.btn {
    color: rgb(98, 211, 98);
    font-weight: bold;
    border-radius: 0;
}

a.btn:hover {
    color: rgb(98, 211, 98);
    border-bottom-color: rgb(98, 211, 98);
}

.container-small {
    max-width: 800px;
}

.f-section h2 {
    font-size: 50px;
}

.dark_blue {
    background-color: #031033;
}

.dark_blue img {
    width: 20px;
}

.dark_blue a {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
}

.green-section {
    block-size: 300px;
}

.first a {
    color: rgb(98, 211, 98);
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
}

form p {
    font-size: 10px;
}

.bottom-links a,
span {
    font-size: 10px;
}

i {
    color: #818799;
    background-color: transparent;
    border: 1px solid #818799;
    border-radius: 5px;
    margin: 7px;
    padding: 10px;
}

i:hover {
    border: 1px solid white;
    color: white;
}